/*/////////////sLogin页面//////////////////*/
.sLogin-html{
    width:100%;
    height: 100%;
    background: url("../image/slogin.jpg") no-repeat;
    background-size: cover;
}
.sLogin-body{
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.37);
    padding-top:150px;
}
.slogin-main{
    width: 350px;
    height:300px;
    background: rgba(255, 255, 255, 0.65);
    margin:0 auto;
    box-sizing: border-box;
    padding: 30px 20px;
}
.info{
    width:100%;
    height: 50px;
}
.login-box h3{
    font-size: 16px;
}
.warn-message{
    font-size: 12px;
    color: red;
    width: 100%;
    height: 25px;
    display: none;
    align-items: center;
}
.input-label{
    position: relative;
    margin-bottom: 20px;
}
.username,.password{
    width:100%;
    height: 40px;
    text-indent: 45px;
    font-size:14px;
    border: 1px solid #cccccc;
    padding:0;
}
.username:focus,.password:focus{
    border: 1px solid #1ab5ff;
}
.user-icon,.lock-icon{
    position: absolute;
    display: inline-block;
    width: 38px;
    height: 39px;
    top:0.5px;
    left:1px;

    background: #ccc;
    font-size:20px !important;
    text-align: center;
    line-height: 39px !important;
    color: #fff;
}
.button{
    display: block;
    background: #2db0ff;
    border-radius: 3px;
    border: none;
    color: #fff;
    width: 100%;
    height:40px;
    font-size: 20px;
}
.button:hover{
    background: #1ab5ff;
}
.back-blue{
    background: #1ab5ff;
}
/*////////////////// 后台--用户管理 /////////////////////*/

html, body, .wrap{
    width: 100%;
    height:100%;
    overflow: hidden;
    display: flex;
}
.left{
    min-width: 180px;
    max-width: 180px;
    height: 100%;
    background: #2f323a;
}
.logo{
    height: 65px;
    padding:13px 10px 0;
    background: rgba(71, 96, 224, 0.62);
}
.logo a{
    display: block;
    width:100%;
    height: 100%;
    background: url("../image/logo.png") no-repeat;
    background-size: contain;
}
.tree{

}
.directory-li{
    height:50px;
    border-bottom:1px solid #242529
}
.d-icon{
    color: #ccc;
    padding-left:25px;
    padding-right: 15px;
}
.d-link{
    display: inline-block;
    width:100%;
    height:100%;
    line-height: 50px;
    font-size: 12px;
    color: #a8adaf;
}
.directory-li:hover,.tree-active{
    background: #1f282c;
}
.directory-li:hover .d-link.d-link,
.directory-li:hover .d-icon,
.tree-active .d-link,
.tree-active .d-icon{
    color: #fff;
}
.right{
    width:100%;
    height:100%;
    overflow: scroll;
    overflow-x: hidden;
}
.right-header{
    width:100%;
    height:65px;
    box-shadow: 0 0 8px 0 #ccc;
}
.user-info{
    display: flex;
    flex-direction: row-reverse;
    width:100%;
    height:100%;
    align-items: center;
    padding-right: 30px;
}
.user-img{
    order: 1;
    width: 55px;
    height: 55px;
    border-radius: 30px;
}
.content{
    min-height: 675px;
    padding: 20px 30px 10px 25px;
}
.c-header{
    position: relative;
    overflow: hidden;
}
.select{
    height: 35px;
    line-height: 35px;
    color: #555;
    font-size: 12px;
    margin-right: 10px;
    padding:0 5px ;
    border-radius: 3px;
}
.data{
    height: 35px;
    color: #555;
    border:1px solid rgb(169, 169, 169);
    padding:0 10px;
    font-size: 12px;
    padding-top: 2px;
    border-radius: 3px;
    cursor: pointer;
}
.c-header .search{
    margin-left: 10px;
    height:35px;
    line-height: 35px;
    padding:0 15px;
}
.search-input{
    width: 310px;
    height:35px;
    font-size: 12px;
    color: #555;
    border: none;
    border-bottom: 1px solid #1f282c;
    float: right;
    padding-right: 20px;
}
.search-icon{
    position: absolute;
    right:0px;
    top:8px;
    cursor: pointer;
}
.search-icon:hover{
    color: #1ab5ff;
}
.blue{
    border-bottom: 1px solid #1ab5ff;
    color: #1ab5ff;
}
.search-input.blue{
    color: #555;
}
.fa.blue{
    border-bottom: none;
}
.data-wrap{
    width: 73%;
    height: 100%;
    margin-right: 25px;
    overflow: hidden;
    margin-top: 30px;
    float: left;
    border-right:1px solid rgba(153, 153, 153, 0.69);
    padding-right:25px;
}
.table-wrap{
    border: 1px solid #ddd;
    border-radius: 4px;
    width:100%;
    height:500px;
    overflow-x: hidden;
    overflow-y: scroll;
}
.add-one-wrap{
    width:28%;
    min-height: 80%;
    max-height: 80%;
    margin-top:30px;
    margin-left: 72%;
    padding: 10px 15px;
    padding-left: 25px;
}
.data-table{
    border-collapse: collapse;
    width:100%;
}
.data-table tbody{
    width:100%;
    text-align: center;
    cursor: pointer;
    font-size: 11px;
    color: #555;
}
.data-table tr{
    width:100%;
    height: 30px;
    overflow: hidden;
    border-bottom:1px solid #ddd;
}
.data-table tr:first-child{
    height:35px;
    font-size: 12px;
}
.data-table td,
.data-table th{
    border:1px solid #ddd;
    border-top:none;
    height: 30px;
    border-bottom: none;
}
.data-table td:first-child,
.data-table th:first-child{
    border:none;
}
.data-table tr:nth-child(even),
.data-table tr:hover{
    background: rgba(19, 3, 27, 0.06);
}
.data-table tr:first-child:hover{
    background: none;
}

.c-user-img{
    width:50px;
}
.c-user-img img{
    min-width:25px;
    height:25px;
    border-radius: 100%;
}
.c-user-name{

}
.no-handle:after{
    content: "---";
}
.c-member-name{
    width:150px;
}
.data-table .show-p{
    padding-left: 4px;
    width:140px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    -webkit-line-clamp: 1;
}
.info-box{
    position: fixed;
    padding:5px;
    max-width:100px;
    font-size: 10px;
    text-align: left;
    background: rgba(0, 0, 0, 0.76);
    border-radius: 4px;
    line-height: 1.5em;
    color: #eee;
    z-index: 10;
    transition: all 0.06s ease-in-out;
}
.func{
    width:50px;
}

.func .fa-wrench,
.func .fa-close{
    display: inline-block;
    padding:0 2px;
    font-size: 14px;
    color: #555;
}
.func .fa-wrench:hover,
.func .fa-close:hover{
    color: #000;
}
.func .fa-wrench:active,
.func .fa-close:active{
    transform: scale(1.2,1.2);
}

.info-modify{
    position: relative;
    width: 600px;
    height: 470px;
    background: #fff;
    border:1px solid #ccc;
    z-index: 101;
    opacity: 1;
    transition: all 0.5s;
    padding:27px 25px 15px;
    box-shadow: 0 4px 24px 2px #ccc;
}
.modify-wrap{
    width:100%;
    height:400px;
}
.info-left{
    width: 250px;
    height:100%;
    border:1px solid #eee;
    float: left;
    padding:20px 10px 0px;
    box-shadow: 0 0 8px 0px #ccc;
}
.info-right{
    float: right;
    width:280px;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.intro{
    width:100%;
    height: 48%;
    box-shadow: 0 0 8px 0 #ccc;
}
.quo{
    width:100%;
    height: 48%;
    box-shadow: 0 0 8px 0 #ccc;
}
.intro h5,
.quo h5{
    font-size: 14px;
    font-weight: 500;
    padding:3px 5px;
    border-bottom:1px solid #ccc;
}
.textarea{
    overflow: hidden;
    resize: none;
    border: none;
    font-size: 10px;
    color: #555;
    text-indent: 5px;
    padding:5px;
    box-sizing: border-box;
    height: 164px;
}
.intro .textarea{
    width:278px;
}
.quo .textarea{
    width:278px;
}
.text{
    display: inline-block;
    font-size: 12px;
    width: 60px;
    color: #555;
}
.info-left label{
    color: #555;
    font-size: 10px;
    margin-right: 5px;
    user-select: none;
}
.info-left label input[type='checkbox']{
    vertical-align: -3px;
}
.info-left li{
    margin-bottom: 15px;
}
.info-left li:last-child{
    margin-bottom: 0;
}
.info-input{
    width:145px;
    border:none;
    border-bottom: 1px solid #999;
    padding:2px 0px;
    color: #555;
    font-size: 10px;
    vertical-align: 4px;
}
.info-left .img-li{
    width:100%;
    height: 100px;
    text-align: center;
    margin-bottom: 20px;
}
/**/
.info-left .g-img-li{
    width:100%;
    height: 30px;
}
.img-delete.fa{
    position: absolute;
    top:-10px;
    right:0px;
    font-size: 10px;
    color: #fff;
    display: inline-block;
    width:8px;
    height:8px;
    line-height:8px;
    background: red;
    border-radius: 100%;
    cursor: pointer;
}
.img-delete.fa:active{
    transform: scale(1.1,1.1);
}
.img-delete span{
    width:8px;
    height:8px;
    line-height:9px;
    text-indent: -1px;
    font-size: 10px;
    display: inline-block;
    transform: scale(0.7,0.7);
}
.g-img-li img{
    display: inline-block;
    width: 30px;
    height: 30px;
    border:1px solid #eee;
    margin:0 auto;
}
.img-active{
    outline: 1px solid #1ab5ff;
}
.add-img{
    display: inline-block;
    background: rgba(204, 204, 204, 0.56);
    border-radius: 100%;
    width:25px;
    height:25px;
    line-height: 28px !important;
    font-size: 18px !important;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    transition: all 0.5s;
}
.add-img:hover{
    color: #555;
    transform: scale(1.3,1.3);
}
/**/

.img-li img{
    display: block;
    width: 85px;
    height: 85px;
    border:1px solid #eee;
    border-radius: 100%;
    margin:0 auto;
}
.img-li label{
    font-size:10px;
    position: relative;
    top:7px;
    cursor: pointer;
    color: #999;
}
.img-li label:active{
    color: #555;
}
.confire-button{
    display: block;
    width:100%;
    padding:5px 0;
    margin-top: 5px;
    border: none;
    background: none;
    transition: all 0.3s;
}
.confire-button:hover{
    transform: scale(1.5,1.5);
    font-weight: 500;
}
.confire-button:active{
    transform: scale(1.7,1.7);
}
.confire-button:active{
    border: none;
    outline: none;
}
input.no-data:disabled{
    pointer-events: none;
    border-radius: 3px;
    background: rgba(229, 229, 229, 0.32);
    border:none;
    vertical-align: -1px;
}
textarea.no-data:disabled{
    pointer-events: none;
    background: rgba(229, 229, 229, 0.32);
}




.shade{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    height:100%;
    z-index: 100;
    top:0;
    left:0;
    background: rgba(0, 0, 0, 0.25);
}
.faded{
    opacity: 0;
    z-index: -101;
}

.add-one-title{
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 18px;
}
.sUser-page{
    /*position: absolute;*/
}
.page-ul{
    margin-top: 20px;
}
.page-li{
    display: inline-block;
    width: 45px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border:1px solid #eee;
    margin-right: 10px;
    font-size: 12px;
    color: #555;
    cursor: pointer;
}
.page-li:hover{
    box-shadow: 0 0 8px 0 rgba(204, 204, 204, 0.44);
}
.page-li:active{
    box-shadow: 0 0 12px 1px rgba(204, 204, 204, 0.65);
}
.page-li-search{
    display: inline-block;
    vertical-align: 1px;
}
.page-li-search input{
    width:45px;
    text-align: center;
    border-color: #ccc;
    height:35px;
    color: #555;
    border-radius: 5px;
}
.page-li-search input::-webkit-outer-spin-button,
.page-li-search input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
}
.page-li-search button{
    margin-left: 5px;
    vertical-align: -2px;
    border: none;
    background: none;
}
.page-li-search button:active{
    border: none;
    transform: scale(1.2,1.2);
}
.page-more{
    border:none;
    vertical-align: -8px;
    width:20px;
    margin-right: 10px;
}
.page-more:hover{
    box-shadow: none !important;
}
.page-more:active{
    box-shadow: none !important;
}
.page-active{
    background: #eee;
}

.error-info{
    position: relative;
    top:-5px;
    font-size: 10px;
    color: red;
}
.error-info .fa{
    margin-right: 4px;
}
.ipt-wrap{
    margin-bottom: 15px;
}
.ipt-wrap>span{
    font-size: 10px;
    color: #555;
    display: inline-block;
    width: 60px;
    margin-right: 20px;
    text-align: right;
}
.ipt-wrap>label{
    font-size: 12px;
    color: #555;
}
.ipt-wrap>input{
    width: 190px;
    border-radius: 4px;
    font-size: 10px;
}
.ipt-wrap>textarea{
    resize: none;
    width: 180px;
    height:90px;
    padding: 5px;
    font-size: 10px;
    color: #555;
    border-color: #ccc;
    border-radius: 2px;
}
.ipt-wrap>select{
    font-size: 10px !important;
    height:17px;
    padding-bottom: 2px;
    line-height: 17px;
    border:none;
    border-bottom:1px solid #999;
}
.exp-span{
    vertical-align: top;
}
.content .class-11{
    display: block;
    margin: 0 auto;
    cursor: pointer;
    transition: all 0.3s;
}
.content .class-11:active{
    transform: scale(1.1,1.1);
}
.btn{
    background: rgba(71, 96, 224, 0.62) !important;
    color: #fff !important;
}
.btn:active{
    color: #fff;
}

/*//////////////////////////// 商品管理页面 ///////////////////////////////////*/
.g-title{
    width: 230px;
    padding:0 10px;
    overflow: hidden;
}
.g-title .show-p{
    width: 230px;
}
.g-info-left{
    padding-top:15px;
}
.g-info-left li{
    margin-bottom: 7px !important;
}
.g-info-left select{
    border: none;
    border-bottom: 1px solid #999;
}

.good-add-wrap .ipt-wrap>input{
    border:none;
    border-bottom: 1px solid #999;
    border-radius: 0;
}
.ipt-wrap-wrap{
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    padding-right: 17px;
}
.cu-wrap{
    display: inline-block !important;
    margin-right: 4px;
}
.cu-wrap>input{
    width:10px;
    vertical-align: -3px;
}
label.cu-wrap{
    margin-bottom: 0 !important;
    margin-right: 5px;
}
.cu-wrap>span{
    margin-right: 0;
    display: inline;
}



